<robot name="spoon">
    <link name="spoon">
        <visual>
            <geometry>
                <mesh filename="meshes/spoon.stl" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="meshes/spoon.stl"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.01"/>
            <inertia ixx="1.0" iyy="1.0" izz="1.0" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </link>
</robot>
